---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
	<title>Catatan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
	<style type="text/css">
		.atas {
			position: fixed;
			bottom: 20px;
			right: 20px;
		}
	</style>
</head>
<body>
	<div class="vue">
		<br>
		<div class="container">
			<router-view></router-view>
		</div>
		<div @click='ke_atas()' class="btn btn-success atas">UP</div>
	</div>
	{% include beranda.html %}
	{% include baca.html %}
	{% include edit.html %}
	<script type="text/javascript" src="vendor/vue.min.js"></script>
	<script type="text/javascript" src="vendor/vue-router.min.js"></script>
	<script type="text/javascript">
		new Vue({
			el: '.vue',
			methods: {
				ke_atas(){
					window.scrollTo({
						top: 0,
						left: 0,
						behavior: 'smooth'
					});
				}
			},
			router: new VueRouter({
				routes: [
					{
						path: '/',
						component: beranda
					},
					{
						path: '/:id',
						component: baca
					},
					{
						path: '/:id/edit',
						component: edit
					}
				]
			})
		})
	</script>
</body>
</html>