<template id="beranda">
	<div>
		<h1 class="text-center">Catatan</h1>
		<hr>
		<p>
			<div class="btn-group stick">
				<router-link to='/tulis' class='btn btn-warning'>Tulis baru</router-link>
				<router-link to='/cari' class='btn btn-primary'>Cari</router-link>
				<div class="btn btn-danger" @click="keluar()">Logout</div>
			</div>
		</p>
		<p>
			<div class="list-group">
				<router-link v-for='x in data' :to='"/" + x.id' class='list-group-item list-group-item-action' v-text='x.judul'></router-link>
			</div>
		</p>
	</div>
</template>
<script type="text/javascript">
	beranda = {
		template: '#beranda',
		data(){
			return {
				data: []
			}
		},
		methods: {
		 keluar(){
		  localStorage.removeItem("token");
		  this.$router.push("/login");
		 }
		},
		mounted(){
			if (!localStorage.token){
				this.$router.push('/login');
			}
			fetch(`${api}/catatan.php/${localStorage.token}/semua`).then(x => x.json()).then(data => this.data = data);
		}
	}
</script>
<style type="text/css">
	.stick {
		position: sticky;
		top: 0;
		z-index: 99;
	}
</style>