<template id="cari">
	<div>
		<form @submit.prevent='ubah()'>
			<div class="form-group">
				<input type="search" v-model='cari' required="" class="form-control" placeholder="Cari apa?" name="">
			</div>
		</form>
		<div class="list-group">
			<router-link v-for='x in 10' to='/23' class='list-group-item list-group-item-action'>Hello...</router-link>
		</div>
	</div>
</template>
<script type="text/javascript">
	cari = {
		template: '#cari',
		data(){
			return {
				cari: ''
			}
		},
		methods: {
			ubah(){
				this.$router.push(`/cari/${encodeURIComponent(this.cari)}`);
			}
		}
	}
</script>